body{
    margin: 0;
}

nav{
    color: rgb(159, 211, 245);
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#navHeader{
    font-family: 'Lemonada', cursive;
}

article{
    width: 50%;
    text-align: center;
}

#main_header{
    font-family: 'Lora', serif;
    text-transform: uppercase;
}

form input{
    width: 50%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(159, 211, 245);
}

#myBtn{
    margin-left: 10px;
}

section{
    width: 50%;
    margin-top: 20px;
    border-radius: 5px;
}

section div{
    width: 100%;
    padding: 7px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 5px;
    justify-content: space-between;
    border: 1px solid rgb(159, 211, 245);
    box-shadow: rgb(159, 211, 245) 1px 1px 1px;
}

.checker{
    margin-top: 5px;
}

.itemStroke{
    text-decoration: line-through;
}

.items{
    color: rgb(9, 61, 95);
}